@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
    background-image: url("./img/Untitled-11.jpg");
    width: 100%;
    height: 30vh;
}

.separator{
    width: 100%;
    height: 25px;
    background-color: brown;
    /* border-style: solid; */
    margin: 1px;
}
.col-md-4{
    background-color: antiquewhite;
    height: 100%;
    width: 40%;
    
}
.col-6 p,
.col-md-8 p{
width: 33vw;
margin-left: 10vw;
margin-top: 3vh;
display: flex;
justify-content: center;
}
.larg_img{
    border-style: solid;
    width: 30vw;
    height: 55vh;
    border-color: rgb(119, 119, 112);
    margin-left: 10vw;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .form-select {
    width: 20vw;
    margin-top: 5vh;
    margin-left: 2vw;
    
  }
  form{
    margin-top: 2vh;
    width: 30vw;
  }
  /* ==================================================================== */
  /* Split the screen in half */
.split {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 16%;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #d3d2c1;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #fff
  ;
  width: 70%;
 
}

/* If you want the content centered horizontally and vertically */
.centered {
  display: flex;
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);

  
}
.parageraphe{
  width: 120%;
}
.select-centered{
  display: flex;
  
  top: 45%;

}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;

}
/* ======================================================= */



select{
  border:none;
  padding: 20px 60px;
  border-radius:5px;
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 254px;
}
.centered label{
  display: flex;
  flex-direction: column;
 
}

select:focus{
  outline:none;
}
/* ================================================== */
.largeImg{
  width: 30vw;
  height: 46vh;
  border-style: solid;
}
.small-imgs{
  width: 30vw;
  height: 13vh;
  border-style: solid;
}
  .panel-wrapper {
    display:flex;
    width: 100vw;
    height: 140vh;
  }

  .box{
    width: 30vw;
  }

  .panel{
    padding: 50px;
    
  }

  .right{
    width: 50%;
  
  }

 .examplefood {
  padding: 1%;
 }

  .is-96by96{
    display: inline-block;
  }
  .button{
    width: 3%;
    height: 100%;
  }

  .smaller{
    display: inline-block;
    width: 16%;
  }

  .vertical-center {
      display: flex;
      justify-content: center;
      align-items: center;}

    /* ========================================= */

   
.img-mainu{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background: #f1f4fd;
}
.container{
  max-width: 60vw;
  width: 95%;
}

.slider-wrapper .image-list {
  display: grid;
  gap: 18px;
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}



.slider-wrapper .image-list .image-itme {
  width: 42vw;
  height: 14vh;
  object-fit: cover;
}
.image-itme{
  width: 42vw;
}
/* ============================================ */
.countries{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.elements{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* ================================= */
.data{
  align-items:flex-start;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.caption{
  align-items: flex-end;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ================================= */

.img-container{
  height:500px;
  width: 700px;
  margin: 10px 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 15px #333;
}
.img-container .slides{
  /* height: calc(20% -5px); */
  height: 20% ;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 4px;
  left: 0;

}
.img-container .slides > img {
  height: 100%;
  width: calc(20% -5px);
  border: 2px solid black;
  cursor: pointer;
} 

.img-container .slides > img:hover{
  filter: grayscale();
}
.big-screen {
  position: absolute;
  top: 0; left: 0;
  height: calc(80% -10px);
  top: 0; left: 0;
  width: calc(100% - 5px);
  border: 4px solid;

}
.big-screen > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}